.upnext_card{background: rgb(23, 23, 23) !important;margin-bottom: 15px;}
.upnext_content{color: #fff; margin-left: 15px;}
.upnext_title{font-weight: 600;font-size: 1rem;margin-bottom: 0.6rem;}
.upnext__runtime{font-size: .8rem;margin-bottom: 0.5rem;display: flex;justify-content: space-between;align-items: center;}
.upnext__description{font-style: italic;font-size: .8rem;margin-bottom: 0.25rem;}